@import '~@vue/ui/dist/vue-ui.css'

@import 'imports'
@import 'transitions'


@font-face
  font-family 'PinyonScript'
  font-style normal
  font-weight 400
  src local('PinyonScript'), local('PinyonScript-Regular'), url(../assets/PinyonScript-Regular.ttf) format('truetype')


.vue-ui-icon
  display inline-block
  width 22px
  height @width
  svg
    width 100%
    height 100%
    fill #999
    pointer-events none
  &.big
    transform scale(1.3)
  &.medium
    transform scale(0.9)
  &.small
    transform scale(0.8)
